<section class="timeline">

    <div class="container">

        <!-- heading -->
        <div class="timeline__heading">

            <span class="timeline__subtitle">
                Timeline
            </span>

            <h3 class="timeline__main-title">

                Bagaimana Kompetisi

                <span class="timeline__main-title-italic">
                    Berlangsung
                </span>

            </h3>


            <p class="timeline__description">
                Kompetisi ini terdiri dari beberapa tahap, mulai dari pendaftaran dan seleksi awal hingga penilaian juri dan pengumuman pemenang.
            </p>

        </div>

        <!-- content -->
        <div class="timeline__content">

            <!-- left -->
            <div class="timeline__accordion">

                <article class="timeline__item is-active">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            01
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Periode Pendaftaran
                                </span>
                                
                                <span class="timeline__date">
                                    15.06 - 22.07
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Peserta mengisi formulir pendaftaran dan mengirimkan informasi pribadi yang diperlukan untuk mengikuti kompetisi.
                                </p>

                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            02
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Tahap Pengajuan Awal
                                </span>

                                <span class="timeline__date">
                                    15.06 - 22.07
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Peserta wajib mengajukan tiga produk furnitur:
                                    <br>
                                    1. Armchair&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Chair&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Dining Table
                                    <br><br>
                                    Dokumen yang harus disertakan:
                                    <br>
                                    • Spesifikasi material
                                    <br>
                                    • Konsep koleksi dan filosofi desain
                                    <br>
                                    • Inspirasi di balik koleksi
                                </p>

                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            03
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Seleksi 20 Besar
                                </span>

                                <span class="timeline__date">
                                    24.06 - 26.07
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Tim juri memilih 20 proyek terbaik yang akan melanjutkan ke tahap voting publik.
                                </p>

                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            04
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Tahap Pengembangan Koleksi
                                </span>

                                <span class="timeline__date">
                                    26.07 - ~10.08
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Peserta yang lolos mulai mengembangkan koleksi lengkap.
                                    <br><br>
                                    Indoor Furniture:
                                    <br>
                                    1. Dresser&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Coffee Table&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Bedside Table
                                    <br><br>
                                    Outdoor Furniture:
                                    <br>
                                    4. Sun Lounger&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Garden Armchair
                                    <br>
                                    6. Outdoor Chair&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. Small Outdoor Sofa
                                </p>

                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            05
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Voting Publik
                                </span>

                                <span class="timeline__date">
                                    31.07 - 24.08
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Koleksi yang lolos akan dipublikasikan untuk voting publik dan evaluasi oleh dewan juri.
                                </p>
                            
                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            06
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Penilaian Akhir
                                </span>

                                <span class="timeline__date">
                                    24.08 - 31.08
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Juri melakukan penilaian akhir terhadap seluruh koleksi dan menyiapkan hasil resmi kompetisi.
                                </p>
                            
                            </div>

                        </div>

                    </div>

                </article>

                <article class="timeline__item">

                    <div class="timeline__wrapper">

                        <span class="timeline__number">
                            07
                        </span>

                        <div class="timeline__info">

                            <h5 class="timeline__title">
                                <span class="timeline__title-text">
                                    Pengumuman Pemenang
                                </span>

                                <span class="timeline__date">
                                    01.09
                                </span>
                            </h5>

                            <div class="timeline__content-box">

                                <p class="timeline__text">
                                    Hasil kompetisi diumumkan secara resmi melalui situs web dan saluran komunikasi Woodara.
                                </p>

                            </div>
                        </div>

                    </div>

                </article>

            </div>

            <!-- right -->
            <div class="timeline__gallery">

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_01.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_02.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_03.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_04.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_05.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_06.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_07.jpg" alt="">
                </div>

                <div class="timeline__image">
                    <img src="/timeline/timeline_image_08.jpg" alt="">
                </div>

                <div class="timeline__image timeline__image--mobile-only">
                    <img src="/timeline/timeline_image_09.jpg" alt="">
                </div>
                
            </div>

        </div>

    </div>

</section>

<style>

    .timeline {
        background-color: #f2f1ee;
        padding: 8rem 0;
    }

    .container {
        width: 100%;
        max-width: 140rem;
        padding: 0 2rem;
        margin: 0 auto;
    }

    .timeline__heading {
        max-width: 72rem;
        margin-bottom: 8rem;
    }

    .timeline__subtitle {
        display: inline-flex;
        align-items: center;
        color: #111; 
        font-size: 1.2rem; 
        font-weight: 400;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        margin-bottom: 3.2rem;
    }

    .timeline__subtitle::before {
        content: ""; 
        display: inline-block;
        width: 0.6rem; 
        height: 0.6rem; 
        background-color: #111;
        border-radius: 50%; 
        margin-right: 1rem; 
    }

    .timeline__main-title {
        display: flex;
        flex-direction: column;
        color: #111;
        font-size: clamp(4.2rem, 5vw, 5.4rem);
        max-width: 60rem;
        font-weight: 300;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }

    .timeline__main-title-italic {
        font-style: italic;
        color: #888;
    }

    .timeline__description {
        margin-top: 3.2rem;
        color: #888;
        font-size: 1.6rem;
        line-height: 1.7;
        max-width: 56rem;
    }

    .timeline__content {
        display: grid;
        grid-template-columns: 58% 1fr;
        gap: 8rem;
        align-items: start;
    }

    .timeline__accordion {
        display: flex;
        flex-direction: column;
    }

    .timeline__item {
        position: relative;
        padding: 3.5rem 0 2rem;
        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    }

    .timeline__item:first-child {
        padding-top: 0;
    }

    .timeline__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
    }

    .timeline__number {
        width: 6rem;
        flex-shrink: 0;
        color: #888;
        font-size: 1.2rem; 
        font-weight: 400;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }

    .timeline__info {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    .timeline__title {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        color: #111;
        letter-spacing: -0.02em;
        cursor: pointer;
    }

    .timeline__content-box {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .timeline__item.is-active .timeline__content-box {
        max-height: 40rem;
    }

    .timeline__text {
        color: #888888;
        font-size: 1.6rem;
        line-height: 1.7;
        max-width: 50rem;
    }

    .timeline__date {
        color: #888;
        font-size: 2rem;
        font-weight: 400;
    }

    .timeline__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .timeline__image {
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }

    .timeline__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .timeline__image--mobile-only {
        display: none;
    }
    

    @media (max-width: 768px) {

        .timeline {
            padding: 5rem 0;
        }

        .timeline__heading {
            margin-bottom: 4rem;
        }

        .timeline__subtitle {
            margin-bottom: 2rem;
        }

        .timeline__main-title {
            font-size: 3.2rem;
            line-height: 1.2;
        }

        .timeline__description {
            margin-top: 2rem;
            font-size: 1.4rem;
            max-width: 100%;
        }

        .timeline__content {
            grid-template-columns: 1fr;
            gap: 4rem;
        }

        .timeline__gallery {
            order: -1;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }

        .timeline__item {
            padding: 2rem 0 1.2rem;
        }

        .timeline__wrapper {
            gap: 1.6rem;
        }

        .timeline__number {
            width: 4rem;
            font-size: 1.1rem;
        }

        .timeline__title {
            font-size: 2rem;
            gap: 0.8rem;
            margin-bottom: 1.2rem;
        }

        .timeline__title-text {
            font-size: 2rem;
            line-height: 1.3;
        }

        .timeline__date {
            font-size: 1.6rem;
        }

        .timeline__text {
            font-size: 1.4rem;
            line-height: 1.6;
            max-width: 100%;
        }

        .timeline__image--mobile-only {
            display: block;
        }
    }

</style>

<script>

    const accordionItems = document.querySelectorAll('.timeline__item');

    accordionItems.forEach(item => {
        item.addEventListener('click', () => {

            accordionItems.forEach(otherItem => {
                otherItem.classList.remove('is-active');
            });

            item.classList.add('is-active');

        });
    });

</script>